google-api-python-client==2.96.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
azure-identity==1.16.0
azure-keyvault-secrets>=4.10.0,<5.0
pytest==7.4.2
requests==2.31.0
python-dotenv==1.0.0
intuit-oauth==1.2.6
